<div class="apout-section py-5 mt-5">
    <div class="container">
        <div class="text-center my-5">
            <h2 class="display-4 fw-bold text-white">ABOUT</h2>
            <div class="d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-star fs-2 my-3 text-white "></i>
                <i class="fa-solid fa-star fs-1 my-3 text-white "></i>
                <i class="fa-solid fa-star fs-2 my-3 text-white "></i>
            </div>
       </div>
       <div class="row g-5">
            <div class="col-md-6">
                <p class="w-100 fs-5 text-white mx-auto">Freelancer is a free bootstrap theme created by Route. The includes the complete source files including HTML, CSS,email addressThe download includes the complete source files including HTML  to the contact form to make it fully functional and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-6">
                <p class="fs-5 text-white">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the The download includes the complete source files including The download includes the complete source files includingasdds HTMLHTMLcontact form to make it fully functional!</p>
            </div>
       </div>
    </div>
</div>
