<div class="container mb-5 pt-5">
    <div class="text-center my-5">
        <h2 class="display-4 fw-bold">CONTACT ME</h2>
        <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-star fs-2 my-3"></i>
            <i class="fa-solid fa-star fs-1 my-3"></i>
            <i class="fa-solid fa-star fs-2 my-3"></i>
        </div>
   </div>
   <form class="w-75 mx-auto">
        <input type="text" class="form-control my-4 p-3" name="userName" id="userName" required placeholder="Name">
        <input type="email" class="form-control my-4 p-3" name="userEmail" id="userEmail" required placeholder="Email Addres">
        <input type="tel" class="form-control my-4 p-3" name="userNumper" id="userNumper" required placeholder="Phone Numper">
        <textarea class="form-control p-3"placeholder="Message"></textarea>
        <button class="btn btn-success btn-lg mt-4">Send</button>
   </form>
</div>
