<div class="container pt-5">
   <div class="text-center my-5">
        <h2 class="display-4 fw-bold">PORTFOLIO</h2>
        <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-star fs-2 my-3 "></i>
            <i class="fa-solid fa-star fs-1 my-3 "></i>
            <i class="fa-solid fa-star fs-2 my-3 "></i>
        </div>
   </div>
   <div class="row g-5 mb-5">
        <div class="col-md-4">
            <div class="position-relative">
                <img src="assets/imge/cabin.png" class="w-100">
                <div class="leayr d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-plus text-white display-2"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="position-relative">
                <img src="assets/imge/cake.png" class="w-100">
                <div class="leayr d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-plus text-white display-2"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="position-relative">
                <img src="assets/imge/circus.png" class="w-100">
                <div class="leayr d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-plus text-white display-2"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="position-relative">
                <img src="assets/imge/game.png" class="w-100">
                <div class="leayr d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-plus text-white display-2"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="position-relative">
                <img src="assets/imge/safe.png" class="w-100">
                <div class="leayr d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-plus text-white display-2"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="position-relative">
                <img src="assets/imge/submarine.png" class="w-100">
                <div class="leayr d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-plus text-white display-2"></i>
                </div>
            </div>
        </div>
   </div>
</div>
